ol.rdl-list, ul.rdl-list {
	list-style-type: none;
}

.rdl-list {
	dd {
		padding-inline-start: 32px;
	}
}

ol {
	padding-inline-start: 20px;
}

ul.rdl-list {
	padding-inline-start: 40px;
}

ul.rdl-list > li,
ol > li {
	margin-bottom: 12px;
}

ol > li > ol,
ul.rdl-list > li > ul,
ol > li > ul,
ul.rdl-list > li > ol {
	margin-top: 8px;
	padding-inline-start: 0;
	li {
		margin-bottom: 5px;
	}
}
ul.rdl-list > li > ul,
ol > li > ul {
	padding-inline-start: 8px;
}

ol > li > ol,
ul.rdl-list > li > ol {
	padding-inline-start: 0;
}

ol >li > ol > li > ol,
ul.rdl-list > li > ul > li > ul,
ol > li > ul > li > ol,
ol > li > ul > li > ul,
ol > li > ol > li > ul,
ul.rdl-list > li > ol > li > ul,
ul.rdl-list > li > ul > li > ol,
ul.rdl-list > li > ol > li > ol {
	padding-inline-start: 0;
	margin-top: 0;
	li {
		margin-bottom: 5px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

ul.rdl-list > li > ul > li > ul > li,
ol > li > ul > li > ul > li,
ul.rdl-list > li > ol > li > ul > li,
ol > li > ol > li > ul > li {
	margin-inline-start: 6px;
}

ul.rdl-list li ol,
ol {
	counter-reset: item;
	> li {
		display: table;
		&::before {
			display: table-cell;
			content: counters(item, ".") ".";
			counter-increment: item;
			padding-inline-end: 12px;
		}
		ol > li {
			&::before {
				content: counters(item, ".") " ";
			}
		}
		ol > li > ol > li {
			&::before {
				font-size: 0.875rem;
				color: $almost-black-50;
			}
		}
	}
}

ul.rdl-list {
	> li {
		list-style-type: disc;
		padding-inline-start: 10px;
		ul > li {
			list-style-type: none;
			padding-inline-start: 10px;
			&::marker {
				content: "-"
			}
		}
	}
}

ol {
	ul > li {
		list-style-type: none;
		padding-inline-start: 10px;
		&::marker {
			content: "-"
		}
	}
}