// full width containers with background


// parallel - to left or right
.parallel-down,
.parallel-up {
	margin-bottom: 24px;
	@include media-breakpoint-up(md) {
		margin-bottom: 28px;
	}
}

.parallel-down {
	clip-path: polygon(0 0, 100% 24px, 100% 100%, 0 calc(100% - 24px));
	@include media-breakpoint-up(lg) {
		clip-path: polygon(0 0, 100% 32px, 100% 100%, 0 calc(100% - 32px));
	}
	> *:first-of-type {
		padding-top: 56px;
	}
	> *:last-of-type {
		padding-bottom: 48px;
	}
	//.rdl-hero-content {
	//	padding-top: 24px;
	//	padding-bottom: 0;
	//}
}

.parallel-up {
	clip-path: polygon(0 24px, 100% 0, 100% calc(100% - 24px), 0 100%);
	@include media-breakpoint-up(lg) {
		clip-path: polygon(0 32px, 100% 0, 100% calc(100% - 32px), 0 100%);
	}
	> *:first-of-type {
		padding-top: 62px;
	}
	> *:last-of-type {
		padding-bottom: 36px;
	}
	//.rdl-hero-content {
	//	padding-top: 24px;
	//	padding-bottom: 0;
	//}
}


// trapeze - bigger in one side, smaller in the other - to left or right
.trapeze-big-to-small,
.trapeze-small-to-big {
	@include media-breakpoint-up(md) {
		margin-bottom: 28px;
	}
}

.trapeze-small-to-big {
	clip-path: polygon(0 24px, 100% 0, 100% 100%, 0 calc(100% - 24px));
	@include media-breakpoint-up(lg) {
		clip-path: polygon(0 32px, 100% 0, 100% 100%, 0 calc(100% - 32px));
	}
	> *:first-of-type {
		padding-top: 62px;
	}
	> *:last-of-type {
		padding-bottom: 48px;
	}
}

.trapeze-big-to-small {
	clip-path: polygon(0 0, 100% 24px, 100% calc(100% - 24px), 0% 100%);
	@include media-breakpoint-up(lg) {
		clip-path: polygon(0 0, 100% 32px, 100% calc(100% - 32px), 0% 100%);
	}
	> *:first-of-type {
		padding-top: 56px;
	}
	> *:last-of-type {
		padding-bottom: 36px;
	}
}



// bottom-up and bottom-down - for bottom content just before footer (only top edge is skewed)
.bottom-up,
.bottom-down {
	> *:last-of-type {
		padding-bottom: 18px;
	}
}
.bottom-down {
	clip-path: polygon(0 0, 100% 24px, 100% 100%, 0 100%);
	@include media-breakpoint-up(lg) {
		clip-path: polygon(0 0, 100% 32px, 100% 100%, 0 100%);
	}
	> *:first-of-type {
		padding-top: 48px;
	}
}
.bottom-up {
	clip-path: polygon(0 24px, 100% 0, 100% 100%, 0 100%);
	@include media-breakpoint-up(lg) {
		clip-path: polygon(0 32px, 100% 0, 100% 100%, 0 100%);
	}
	> *:first-of-type {
		padding-top: 62px;
	}
}