$breakpoints: (
		small : 576px,
		medium: 768px,
		large : 992px,
		xlarge: 1200px
);

$h1-font-sizes: (
		null  : 28px,
		small : 31px,
		medium: 33px,
		large : 36px
);


// Reponsive Headings
$responsive-headings	: () !default;
$responsive-headings	: map-merge(
		(
			"xs"	: (
				"h1"	: 150%,
				"h2"	: 145%,
				"h3"	: 135%,
				"h4" 	: 135%,
				"h5"	: 135%
			),
			"sm"	: (
				"h1"                                     : 170%,
				"h2"                                     : 140%,
				"h3"                                     : 125%,
				"h4"                                     : 125%,
				"h5"                                     : 125%
			),
			"md"	: (
				"h1"                                     : 200%,
				"h2"                                     : 170%,
				"h3"                                     : 140%,
				"h4"                                     : 125%,
				"h5"                                     : 125%
			),
			"lg"	: (
				"h1"                                     : 200%,
				"h2"                                     : 170%,
				"h3"                                     : 140%,
				"h4"                                     : 125%,
				"h5"                                     : 125%
			),
			"xl"	: (
				"h1"                                     : 250%,
				"h2"                                     : 200%,
				"h3"                                     : 170%,
				"h4"                                     : 140%,
				"h5"                                     : 125%
			),
	),
	$responsive-headings
);


