
.theme-yellow {
	@include theme((
			primary: $yellow-50,
			secondary: $yellow-100,
			tertiary: $yellow-15
	))
}
.theme-pink {
	@include theme((
			primary: $pink-50,
			secondary: $pink-100,
			tertiary: $pink-15
	))
}
.theme-teal {
	@include theme((
			primary: $teal-50,
			secondary: $teal-100,
			tertiary: $teal-15
	))
}
.theme-blue {
	@include theme((
			primary: $sky-blue-50,
			secondary: $sky-blue-100,
			tertiary: $sky-blue-15
	))
}
.theme-black {
	@include theme((
			primary: $almost-black-100,
			secondary: $almost-black-100,
			tertiary: $almost-black-100
	))
}


.theme-bg {
	h3, .h3, h4, .h4, h5, .h5 {
		color: $primary;
	}
}

.theme-bg {
	&-dark {
		background: $primary;
		color: white;

		a, .material-icons, rdl-icons {
			color: white;
		}

		.btn-light {
			color: $primary;
		}

		.btn-primary {
			background-color: white;
			color: $primary;

			&:hover, &.hover {
				background-color: rgba(255, 255, 255, 0.7);
			}
		}

		.btn-outline-primary.btn-ghost {
			border-color: white;
			color: white;

			&:hover, &.hover {
				box-shadow: inset 0 0 2px white;
			}
		}
	}
}
