DEVEL_API_BFF=http://bff-image:8080/bff
LIGHTHOUSE_TARGET_URL=http://localhost:3000
APP_BASE_PATH=find-materiale/dr-arkivet
VITE_KALTURA_PARTNER_ID=
VITE_KALTURA_VIDEO_UI_CONF_ID=
VITE_KALTURA_AUDIO_UI_CONF_ID=
VITE_KALTURA_BASE_URL_AUDIO=
VITE_KALTURA_BASE_URL_VIDEO=
VITE_SITE_URL=https://www.kb.dk/find-materiale/dr-arkivet/