.rdl-page-notification {
	@extend %regular-sans-serif;
	&.alert-primary {
		color: white;
		background-color: $primary;
		a, a:hover, a:focus, button {
			color: white;
		}
	}
	.close {
		opacity: 1;
		padding: 1rem;
	}
}