.page-container .rdl-spot-collection {
	.container.rdl-hero-content {
		padding-right: 24px;
		padding-left: 24px;
		@include media-breakpoint-up(md) {
			padding-right: 24px;
			padding-left: 24px;
		}
		@include media-breakpoint-up(lg) {
			padding-right: 36px;
			padding-left: 36px;
		}
		@include media-breakpoint-up(xxl) {
			padding-right: 24px;
			padding-left: 24px;
		}
	}
	.rdl-feature .container.rdl-hero-content {
		padding-right: 12px;
		padding-left: 12px;
		@include media-breakpoint-up(sm) {
			padding-right: 24px;
			padding-left: 24px;
		}
		@include media-breakpoint-up(lg) {
			padding-right: 36px;
			padding-left: 36px;
		}
	}
	.rdl-feature.rdl-feature-inline .container.rdl-hero-content {
		padding-right: 12px;
		padding-left: 12px;
		@include media-breakpoint-up(sm) {
			padding-right: 24px;
			padding-left: 24px;
		}
	}
}

.rdl-hero {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.rdl-hero, .rdl-slice, .rdl-feature {
	position: relative;
	img {
		width: 100%;
	}
	.rdl-hero-content {
		color: #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));

		.row {
			margin: 0;
		}
		.lead, .rdl-hero-subheader h2, .rdl-hero-subheader h3 {
			font-family: 'noway', sans-serif;
			font-weight: normal;
			margin-bottom: 0;
			padding: 4px 0 6px;
		}
		.rdl-hero-subheader h2, .rdl-hero-subheader h3 {
			font-size: min(max(1.125rem, 2.5vw), 3rem);
			line-height: min(max(1.75rem, 3.5vw), 4.5rem);
		}
		.lead {
			font-size: min(max(1rem, 2.5vw), 3rem);
			line-height: min(max(2.5rem, 4vw), 5rem);
			margin-bottom: 1%;
		}
		h1.display-1, h2.display-1 {
			font-size: min(max(1.5rem, 5vw), 6rem);
			line-height: 1.25em;
			margin-bottom: 0;
			padding: 6px 0 4px;
		}
		&.rdl-with-tagline h1.display-1 {
			font-size: min(max(1.25rem, 4vw), 5rem);
			line-height: 1.25em;
		}
		h2 {
			margin-top: 1%;
		}
		p, h1, h2, h3 {
			color: var(--text-color);
			display: initial;
			background: var(--text-bg-color);
			box-shadow: 12px 0 0 var(--text-bg-color), -12px 0 0 var(--text-bg-color);
			box-decoration-break: clone;
			@include media-breakpoint-up(lg) {
				box-shadow: 20px 0 0 var(--text-bg-color), -20px 0 0 var(--text-bg-color);
				padding: 7px 0 6px;
			}
		}
		p, h3 {
			padding: 4px 0 6px;
		}
		.rdl-hero-text {
			direction: ltr;
		}
		.rdl-event-dates {
			display: inline-flex;
			align-items: baseline;
			font-family: noway, sans-serif;
			line-height: 32px;
			i {
				font-size: 16px;
				padding-right: 8px;
				align-self: center;
			}
			@include media-breakpoint-up(sm) {
				font-size: rem-calc(16);
				line-height: 32px;
				i {
					font-size: 20px;
				}
			}
		}
		.rdl-hero-lead span,
		.rdl-hero-display-1 span,
		&.rdl-with-tagline .rdl-hero-display-1 span,
		.rdl-hero-subheader span {
			box-decoration-break: clone;
		}
	}
	&.text-right .rdl-hero-content {
		margin-left: auto;
		direction: rtl;
		filter: drop-shadow(-2px 4px 3px rgba(0, 0, 0, 0.5));
	}
}

.rdl-slice {
	margin-bottom: 24px;

	&.parallel-up, &.parallel-down {
		.rdl-hero-content {
			padding-top: 24px;
			padding-bottom: 0;
		}
	}
	&.trapeze-big-to-small, &.trapeze-small-to-big {
		.rdl-hero-content {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	&.parallel-up, &.parallel-down, &.trapeze-big-to-small, &.trapeze-small-to-big {
		.rdl-hero-content > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

.rdl-feature {
	margin-bottom: -36px;
	&:last-of-type:not(.rdl-feature-inline) {
		margin-bottom: 24px;
	}
	.rdl-hero-content {
		position: unset;
		transform: translateY(-70px);
		filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
	}
	&:nth-of-type(even) {
		text-align: right;
		.rdl-hero-content {
			margin-left: auto;
			direction: rtl;
		}
		picture img {
			clip-path: polygon(0 24px, 100% 0, 100% 100%, 0 calc(100% - 24px));
		}
	}
	&:nth-of-type(odd) {
		picture img {
			clip-path: polygon(0 0, 100% 24px, 100% calc(100% - 24px), 0 100%);
		}
	}
	// reversing z-index for shadow to be on top of next feature
	@for $i from 1 through 100 {
		&:nth-of-type(#{$i}) {
			z-index: #{100 - $i};
		}
	}
	@include media-breakpoint-up(md) {
		margin-bottom: -48px;
		.rdl-hero-content {
			transform: translateY(-130px);
		}
	}
	@include media-breakpoint-up(lg) {
		filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.5));
		.rdl-hero-content {
			position: absolute;
			transform: none;
		}
		&:nth-of-type(even) {
			text-align: right;
			.rdl-hero-content {
				margin-left: auto;
				direction: rtl;
			}
			picture img {
				clip-path: polygon(0 0, 100% 36px, 100% calc(100% - 36px), 0 100%);
			}
		}
		&:nth-of-type(odd) {
			picture img {
				clip-path: polygon(0 36px, 100% 0, 100% 100%, 0 calc(100% - 36px));
			}
		}
	}
	&.rdl-feature-inline {
		.rdl-overlay-link {
			bottom: 70px;
		}
		@include media-breakpoint-up(sm) {
			.rdl-overlay-link {
				bottom: 120px;
			}
		}
		@include media-breakpoint-up(md) {
			.rdl-hero-content {
			}
		}
		@include media-breakpoint-up(lg) {
			filter: none;
			margin-right: 0;
			margin-left: 0;
			.rdl-hero-content {
				position: unset;
				transform: translateY(-130px);
				padding: 0 24px;



				.rdl-hero-subheader h2, .rdl-hero-subheader h3 {
					font-size: min(max(1.125rem, 2.5vw), 2rem);
					line-height: min(max(1.75rem, 3.5vw), 3rem);
				}
				.lead {
					font-size: min(max(1rem, 2.5vw), 2rem);
					line-height: min(max(2.5rem, 4vw), 3rem);
					margin-bottom: 1%;
				}
				h1.display-1, h2.display-1 {
					font-size: min(max(1.5rem, 5vw), 3rem);
					line-height: 1.25em;
					margin-bottom: 0;
					padding: 6px 0 4px;
				}
				&.rdl-with-tagline h1.display-1 {
					font-size: min(max(1.25rem, 4vw), 2.75rem);
					line-height: 1.25em;
				}




			}
			&:nth-of-type(even) {
				picture img {
					clip-path: polygon(0 36px, 100% 0, 100% 100%, 0 calc(100% - 36px));
				}
			}
			&:nth-of-type(odd) {
				picture img {
					clip-path: polygon(0 0, 100% 36px, 100% calc(100% - 36px), 0 100%);
				}
			}
		}
	}
}



// Move content up over hero (frontpage) and over header (subpages)
.hero-overlay {
	margin-top: 24px;
}

@include media-breakpoint-up(lg) {
	header.sub-page + main {
		margin-top: -36px;
		position: relative;
		z-index: 125;
	}
}

@include media-breakpoint-up(xl) {
	.hero-overlay .container {
		position: relative;
		background: #fff;
		margin-top: -108px;
		min-height: 108px;
		padding-top: 24px;
		z-index: 105;
	}
	.rdl-hero .rdl-hero-content {
		padding-bottom: 48px;
	}
}

@include media-breakpoint-up(xxl) {
	.rdl-hero .rdl-hero-content {
		padding-bottom: 0;
	}
}