.rdl-breadcrumb-nav {
	padding-top: 12px;
	margin-top: 24px;
	margin-bottom: 24px;

	li::before {
		padding-inline-end: 0;
		content: '';
	}

	li:nth-last-child(-n+2):first-child {
		padding-left: 12px;
		@include media-breakpoint-up(lg) {
			padding-left: 0;
		}
	}
	@extend %regular-sans-serif;

	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
		margin-top: 0;
		padding-top: 0;
		padding-left: 0;
		li {
			margin-bottom: 0;
		}
	}
}
.breadcrumb {
	flex-direction: row;
	background-color: transparent;
	margin-bottom: 0;

	i {
		font-size: 1rem;
		line-height: 1.5rem;
		vertical-align: bottom;
		padding-right: 4px;
	}
	@-moz-document url-prefix() {
		i {
			vertical-align: sub;
		}
	}
	a {
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
			color: $primary;
		}
	}
	.breadcrumb-item {
		@include media-breakpoint-down(search) {
			display: none;
			&:nth-last-child(-n+2) {
				display: inline-flex;

				a {
					text-decoration: underline;
					color: $primary;
				}
			}
			&:nth-last-child(2):not(:first-child)::before {
				font-family: 'Material Icons', serif;
				font-size: 24px;
				line-height: 1;
				font-feature-settings: 'liga';
				content: 'chevron_left';
				color: $primary;
			}
		}
	}
}
