.rdl-discovery-header {
	height: 48px;
	padding: 6px 12px;
	background: $primary;
	@include media-breakpoint-up(lg) {
		padding: 6px 40px;
	}
	.logo {
		width: 110px;
		height: 25px;
		margin-top: 6px;
	}
	.discovery-nav {
		background-color: white;
		min-width: 200px;
	}
	.btn.dropdown-toggle {
		margin: 0;
		font-size: rem-calc(12);
		line-height: rem-calc(24);
		height: 36px;
		padding: 6px 12px;
		display: flex;
		justify-content: space-between;
	}

	.discovery-nav .dropdown-menu li a {
		white-space: nowrap !important;
	}

	.dropdown-menu {
		font-size: rem-calc(12);
		line-height: rem-calc(24);
		border-top: 1px solid $light-gray;
		min-width: 200px;
		margin-top: 0;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
	}
	.dropdown-item {
		padding: 6px 12px;
		border-top: 1px solid $light-gray;
		&:first-of-type {
			border-top: none;
		}
		&::after {
			@extend %material-icons;
			font-size: 1.25rem;
			content: 'link';
			float: right;
			line-height: 1.5rem;
		}
	}

	// exceptions for tiny screens only
	@include media-breakpoint-down(sm) {
		.discovery-nav {
			max-width: 140px;
			min-width: 0;
		}
	}
}