//dropdown button
.btn.dropdown-toggle {
	padding-right: 1rem;
	padding-left: 1rem;
	&::after {
		vertical-align: middle;
		margin-left: 1rem;
		border: none;
		@extend %material-icons;
		content: 'expand_more';
	}
}


//dropdown content
.dropdown-menu {
	@extend %regular-sans-serif;
	.dropdown-item {
		text-decoration: none;
	}
	ul {
		padding-inline-start: 0;
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0
	}
}