.filter-btn-group {
	margin-bottom: 1.5rem;
	display: inline-flex;
	flex-wrap: wrap;

	button:nth-child(n+7) {
		display: none;
	}

	.show-more-or-less {
		order: 2;
		.show-less {
			display: none;
		}
		.show-more {
			display: inline;
		}
		&.active {
			background-color: $dark-blue-05;
			color: #212529;
			.show-more {
				display: none;
			}
			.show-less {
				display: inline;
			}
		}
	}
	.show-more-or-less.active ~ button:nth-of-type(n+6) {
		display: inline;
	}

	@include media-breakpoint-up(md) {
		button:nth-child(n+7) {
			display: inline;
		}
		.show-more-or-less {
			display: none;
		}
	}
}