.page-image-row {
	.rdl-image-page {
		padding: 0 12px;
	}
}


.rdl-image-page {
	position: relative;
	max-width: 1280px;
	margin-bottom: 24px;

	picture {
		display: inline-block;
		overflow: hidden;
	}
	figcaption {
		max-width: 640px;
		text-align: right;
		margin-left: auto;
	}
	.event-state {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: right;
		height: 24px;
		.rdl-skewed::before {
			content: "";
			display: block;
			overflow-x: hidden;
			width: 100%;
			height: 14px;
			margin: -7px 0;
			transform: skewY(-1.25deg);
			box-shadow: 0px -2px 3px -2px $almost-black-50;
		}
		span {
			position: absolute;
			bottom: 5px;
			right: 10px;
		}
		@include media-breakpoint-up(md) {
			.rdl-skewed::before {
				height: 38px;
				margin: -22px 0;
			}
			span {
				font-size: rem-calc(18);
				bottom: 12px;
				right: 14px;
			}
		}
		@include media-breakpoint-up(lg) {
			span {
				font-size: rem-calc(20);
				bottom: 16px;
				right: 18px;
			}
		}
		&-notOnSaleYet {
			background: $green-100;
			color: $almost-black-100;
			.rdl-skewed::before {
				background: $green-100;
			}
		}
		&-cancelled {
			background: $red-100;
			color: white;
			.rdl-skewed::before {
				background: $red-100;
			}
		}
		&-soldOut {
			background: $orange;
			color: $almost-black-100;
			.rdl-skewed::before {
				background: $orange;
			}
		}
		&-past {
			background: $sky-blue-50;
			color: $almost-black-100;
			.rdl-skewed::before {
				background: $sky-blue-50;
			}
		}
		&-newDate {
			background-color: $teal-50;
			color: $almost-black-100;
			.rdl-skewed::before {
				background-color: $teal-50;
			}
		}
		&-online {
			background: white;
			color: $almost-black-100;
			.rdl-skewed::before {
				background: white;
			}
		}
		&-fewTickets {
			background: $primary;
			color: white;
			.rdl-skewed::before {
				background: $primary;
			}
		}
		&-waitingList {
			background: $primary;
			color: white;
			.rdl-skewed::before {
				background: $primary;
			}
		}
		&-lastChance {
			background: $primary;
			color: white;
			.rdl-skewed::before {
				background: $primary;
			}
		}
		&-postponed {
			background: $yellow-100;
			color: $almost-black-100;
			.rdl-skewed::before {
				background: $yellow-100;
			}
		}
	}
	&.event-state-past {
		figure::before {
			background: $sky-blue-15;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0.17;
		}
	}
}
