.pull-quote {
	padding-top: 60px;
	position: relative;
	clear: both;
	z-index: 1;
	margin-bottom: 60px;
	&::before {
		content: '“';
		font-size: 17rem;
		top: -94px;
		left: -20px;
		position: absolute;
		z-index: 2;
		color: $primary;
		font-family: noway, sans-serif;
	}
	blockquote {
		font-style: normal;
		padding-left: 16px;
		margin: 0 0 4px;
		&::before {
			all: unset;
		}
		&::after {
			content: '';
			display: inline-block;
			float: right;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 24px 24px 0;
			border-color: transparent $sky-blue-15 transparent transparent;
			position: absolute;
			right: 0;
			bottom: -24px;
		}
	}
	&-caption {
		font-family: "noway", sans-serif;
		color: $almost-black-50;
		font-size: 0.75rem;
		line-height: 1.125rem;
		margin-bottom: 24px;
		font-style: normal;
		padding: 0 24px 0 16px;
		float: right;
		text-align: right;
		width: 100%;
	}
	&-text {
		font-family: "nowaymedium", sans-serif;
		padding: 26px 18px;
		color: $primary;
		font-size: rem-calc(22);
		a {
			color: $primary;
			&:hover {
				color: $almost-black-100;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: 36px;
		&.offset-content-left,
		&.offset-content-right {
			margin-bottom: 0;
		}
		&.offset-content-left .pull-quote-caption,
		&.offset-content-right .pull-quote-caption {
			max-width: 60%;
		}
	}
}