.rdl-search-result-list {
	.search-result {
		position: relative;
		margin-bottom: 24px;
		h3 {
			color: $primary;
		}
		.breadcrumb {
			@extend %regular-sans-serif;
			color: $almost-black-50;
			margin-bottom: 12px;
			li {
				padding-right: 4px;
			}
		}
		.breadcrumb, .summary {
			padding-right: 24px;
		}
		img {
			display: none;
			@include media-breakpoint-up(sm) {
				display: inline;
				flex-shrink: 0;
				max-width: 256px;
			}
		}
		&:hover {
			h3 {
				text-decoration: underline;
			}
		}
	}
}