// spots w backgorund-color
.rdl-spot.theme-bg,
.rdl-card.theme-bg,
.rdl-spot-cookie > div {
	padding: 16px 12px;
}

// simulating block links
.rdl-overlay-link {
	color: transparent;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	&:hover, &:focus {
		color: transparent;
	}
}



// spots and cards general
.rdl-spot, .rdl-card {
	margin-bottom: 24px;
	position: relative;

	.rdl-spot-header + i {
		margin-left: 24px;
		color: $primary;
	}
	.rdl-overlay-link {
		&.rdl-with-link {
			bottom: 32px;
		}
		&:hover {
			~ p, ~ div span, ~ h3, ~ .rdl-spot-header, ~ ul {
				color: $primary;
			}
		}
	}
	em {
		font-family: noway-italic, sans-serif;
	}
	strong, b {
		font-family: nowaymedium, sans-serif;
	}
	footer {
		display: flex;
		align-items: center;
		font-family: 'noway', sans-serif;
		font-weight: normal;
		font-size: 0.875rem;
		a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-inline-end: 4px;
		}
	}
}


.rdl-skewed-spots {
	&:nth-child(even) figure img {
		clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	}
	&:nth-child(odd) figure img {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
	}
}


// download spot
.rdl-spot {
	&-download {
		@extend %regular-sans-serif;
		.rdl-spot-header {
			margin-bottom: 1rem;
		}
		span {
			display: inline-flex;
		}
		p {
			margin-bottom: 24px;
		}
		.download-button {
			z-index: 100;
			margin-bottom: 28px;
			span {
				display: contents;
			}
		}
		.rdl-file-information {
			margin-bottom: 16px;
			span {
				margin-right: 16px;
				margin-bottom: 16px;
				align-items: center;
			}
			span span {
				display: inline-flex;
				font-size: 0.875rem;
				margin-bottom: 0;
			}
			i {
				margin-right: 8px;
			}
		}
		&.with-image {
			img {
				margin-bottom: 22px;
			}
			.rdl-file-information {
				clear: both;
			}
			@include media-breakpoint-up(md) {
				.rdl-spot-header {
					max-width: 54%;
					display: inline-block;
				}
				img {
					max-width: 41%;
					float: right;
					margin-left: 20px;
				}
			}
		}
	}
}
aside {
	.rdl-spot {
		&-download.with-image {
			h3, .rdl-spot-header {
				max-width: none;
			}
			img {
				max-width: 100%;
				float: none;
				margin-left: 0;
			}
		}
	}
}



// search spot
.rdl-spot {
	&-search {
		@extend %regular-sans-serif;
		@include media-breakpoint-up(lg) {
			margin-bottom: 48px;
		}
	}
}



// focus spot
.rdl-spot {
	&-focus,
	&-focus.theme-bg {
		.rdl-spot-header {
			color: $almost-black-100;
		}
		.rdl-spot-header.primary-color {
			color: $primary;
		}
		.btn {
			margin-bottom: 24px;
		}
	}
}


// info spots - data and message
.rdl-spot {
	&-message,
	&-data {
		i {
			color: $primary;
		}
		dt {
			@extend %regular-sans-serif;
		}
		dd {
			margin-bottom: 0;
		}
	}
}


// ticket spot
.rdl-spot {
	&-ticket-cta {
		h3, .rdl-spot-header {
			color: $primary;
			margin-bottom: 18px;
		}
		h4 {
			display: flex;
			align-items: center;
			margin-bottom: 4px;
			&:last-of-type {
				margin-bottom: 18px;
			}
		}
		time {
			font-family: 'nowaymedium', sans-serif;
		}
		i {
			font-size: 20px;
			margin-right: 10px;
		}
		.rdl-event-details i {
			align-self: start;
		}
		.btn {
			margin-bottom: 24px;
		}
		p {
			margin-bottom: 0;
		}
		.event-state {
			color: $almost-black-50;
		}
		small {
			display: block;
			margin-top: 16px;
		}
		.btn .small {
			display: block;
			color: white;
		}
		&.event-inactive {
			h4 {
				color: $dark-gray;
			}
		}
		.rdl-ticket-prices {
			i {
				font-size: 18px;
				vertical-align: baseline;
			}
		}
	}
}



// fact spot - also a toggle spot - see toggle-spot.scss
.rdl-spot {
	&-fact {
		margin-bottom: 36px;
		.rdl-spot-header {
			color: $almost-black-100;
		}
		a {
			display: block;
			margin: 24px 0;
		}
		small {
			display: block;
			margin-bottom: 18px;
		}
		.img-fluid {
			max-width: none;
			width: 100%;
		}
	}
}


// location spot  - also a toggle spot - see toggle-spot.scss
.rdl-spot {
	&-location {
		p {
			margin-bottom: 0;
		}
		.rdl-icon-link {
			margin-bottom: 12px;
			i {
				font-size: 20px;
			}
		}
		.location-facilities {
			margin: 6px 0;
		}
		small {
			margin-bottom: 12px;
		}
		figure {
			margin-bottom: 1rem;
		}
		.theme-bg figure {
			margin-bottom: 0;
		}
	}
}


// Subscribe CTA spot
.rdl-spot {
	&-subscribe-cta {
		.rdl-spot-header {
			display: flex;
			i {
				padding-left: 20px;
				color: $primary;
			}
		}
		p {
			margin-bottom: 20px;
		}
		.form-inline .form-input {
			margin-right: 12px;
			flex-grow: 1;
		}
	}
}


aside {
	.rdl-spot {
		&-subscribe-cta {
			p {
				margin-bottom: 20px;
			}
			.form-input {
				margin-right: 0;
				width: 100%;
			}
			.btn {
				width: 100%;
			}
		}
	}
}


// Cookie spot
.rdl-spot {
	&-cookie {
		> div {
			border: 1px dashed $orange;
		}
		i {
			color: $orange;
			font-size: 36px;
			padding-left: 24px;
		}
		&.video-bg {
			img {
				position: absolute;
				bottom: -26px;
				z-index: -1;
			}
			> div {
				z-index: 1;
				background: white;
				width: 100%;
			}
			@include media-breakpoint-up(sm) {
				img {
					position: initial;
				}
				> div {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}
aside .rdl-spot {
	&-cookie {
		&.video-bg {
			img {
				position: absolute;
				bottom: -26px;
				z-index: -1;
			}
			> div {
				position: initial;
				top: initial;
				transform: none;
			}
		}
	}
}