.nav-tabs {
	.nav-item {
		margin-right: 24px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	.nav-link {
		@extend %medium-sans-serif;
		text-transform: uppercase;
		color: $primary;
		border-bottom: 2px solid transparent;
		&.active {
			border-bottom: 2px solid $primary;
		}
		&:hover {
			border-bottom: 2px solid $primary;
			transition: border-bottom-color 0.3s ease-in-out;
		}
	}
}
.tab-content {
	padding: 12px 0 0 0;
}