// inherits from spots.scss

// spots that toggle open/close - ie. fact spot and location spot

.rdl-toggle-spot {
	margin-bottom: 36px;
	button {
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 60;
		background-color: $primary;
		color: white;
		width: 36px;
		height: 36px;
		border-radius: 0;

		&::before {
			content: '+';
			font-size: 24px;
		}

		&.active::before {
			content: '-';
			font-size: 36px;
		}

		&::after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 18px 0 18px;
			border-color: $primary transparent transparent transparent;
			position: absolute;
			bottom: -12px;
			left: 0;
		}

		&:hover {
			background-color: $primary;
			color: white;
		}
	}

	button + .rdl-toggle-spot-content {
		max-height: 110px;
		transition: max-height 0.5s;
	}

	.rdl-toggle-spot-content {
		margin-bottom: 48px;
		padding: 24px 12px;
		overflow: hidden;

		&::after {
			content: '';
			display: block;
			background: transparent;
			background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
			width: 100%;
			height: 50px;
			margin: 0;
			transform: none;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&.theme-bg .rdl-toggle-spot-content {
		padding: 0;
	}

	button.active::after {
		top: -12px;
		transform: rotate(180deg);
	}

	button.active + .rdl-toggle-spot-content {
		height: 100%;
		max-height: 1000px;
		transition: max-height 1s;
		margin-bottom: 36px;

		&::after {
			overflow-x: hidden;
			width: 101%;
			height: 28px;
			margin: -20px 0;
			background: white;
			transform: skewY(-1.5deg);
		}
	}

	@include media-breakpoint-up(lg) {
		clear: both;
		&.offset-content-left,
		&.offset-content-right {
			max-width: 492px;
			clear: none;
			button {
				display: none;
			}

			button.active + .rdl-toggle-spot-content,
			.rdl-toggle-spot-content {
				height: 100%;
				max-height: 1000px;
				transition: max-height 1s;
				position: relative;

				&::after {
					overflow-x: hidden;
					width: 101%;
					height: 28px;
					margin: -20px 0;
					background: white;
					transform: skewY(-1.5deg);
				}
			}
		}
	}
}
