:root {
	--dp-menu-min-width: 320px;
	--dp-highlight-color: #c4f1ed;
	--dp-cell-size: 42px;
}

.dp__input_wrap {
	width: 320px;
	/* display: none; */
}

.dp__flex_display {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

.dp__cell_highlight {
	background-color: #c4f1ed !important;
}

.dp__cell_highlight_active {
	border-radius: 0px;
	background-color:#d9f5fe;
	color:black;
}

.dp__cell_inner {
	border-radius:0px;
	height:38px;
}

.dp__calendar_item {
	display:flex;
}

.dp__input.dp__input_icon_pad.dp__input_focus {
	width:263px;
	margin-bottom: 15px;
	padding: 6px 5px;
	text-align: center;
}

.dp--clear-btn {
	display:none;
	pointer-events: none;
}

.dp--arrow-btn-nav {
	display: none !important;
}

.dp__active_date {
	background-color: #0a2e70 !important;
	color:white;
}

.dp__input_icon.dp__input_icons {
	display:none;
}

.dp__calendar_header_item {
	text-transform: capitalize;
}

.dp__input.dp__input_icon_pad.dp__input_focus {
	width:50%;
}

.dp__calendar_row {
	margin:0;
	display: flex;
    justify-content: center;
    align-items: center;
}

.dp__calendar_header_separator {
	background-color: transparent;
}

.dp__calendar_header {
	padding:5px 0px;
}

.dp__cell_inner:hover {
 background-color: #caf0fe !important;
 color:#0a2e70;
}

.dp__month_year_select {
	transition: all 0.25s linear 0s;
	background-color: #0a2e70;
	color:white;
	display:flex;
	justify-content: flex-end;
}

.dp__overlay_cell_active {
	background-color: #0a2e70;
}

.dp__month_year_select:hover {
	transition: all 0.25s linear 0s;
	background-color: #caf0fe !important;
}

.dp__btn.dp__month_year_select:hover:after {
	border-left: 1px solid #0a2e70;

}


.dp__btn.dp__month_year_select:after {
	content:'expand_more';
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

		height: 14px;
    display: flex;
    align-content: center;
    align-items: center;
    border-left: 1px solid white;
		margin-left: 10px;
    padding-left: 5px;
}

.dp__month_year_select {
	border:1px solid rgba(128, 128, 128, 0.404);
}

.dp__month_year_select:first-of-type {
	margin-right:20px;
}

.date-pickers .picker-container:first-of-type .dp__main {
	align-content: flex-end;
}

.date-pickers .picker-container:first-of-type .dp__menu {
	padding-right: 10px !important;
	border-right: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color:rgba(243, 243, 243, 0.404)
}

.date-pickers .picker-container:last-of-type .dp__main {
	align-content: flex-start;
}

.date-pickers .picker-container:last-of-type .dp__menu {
	padding-left: 10px !important;
	border-left: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color:rgba(243, 243, 243, 0.404)

}