.dp__input_wrap {
	/* display: none; */
}

.dp__flex_display {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

.dp__cell_highlight_active {
	border-radius: 0px;
	background-color:#d9f5fe;
	color:black;
}

.dp__cell_inner {
	border-radius:0px;
}

.dp__input.dp__input_icon_pad.dp__input_focus {
	width:263px;
	margin-bottom: 5px;
}

.dp--clear-btn {
	display:none;
	pointer-events: none;
}

.dp--arrow-btn-nav {
	display: none;
}

.dp__btn.dp__month_year_select:after {
	content:'expand_more';
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.dp__month_year_select {
	border:1px solid rgba(128, 128, 128, 0.404);
}

.dp__month_year_select:first-of-type {
	margin-right:20px;
}