.subsite {
	.global-header {
		.header-bg-wrapper.theme-bg {
			padding-top: 8px;
			background: linear-gradient(180deg, $sky-blue-50 36px, $primary 36px, $primary 98px, $sky-blue-50 98px);
			@include media-breakpoint-up(sm) {
				background: linear-gradient(180deg, $sky-blue-50 36px, $primary 36px, $primary 100px, $sky-blue-50 100px);
			}
			@include media-breakpoint-up(md) {
				background: linear-gradient(180deg, $sky-blue-50 36px, $primary 36px, $primary 103px, $sky-blue-50 103px);
			}
		}
		.logo {
			height: 22px;
			width: 96px;
			@include media-breakpoint-up(lg) {
				// TODO: Uncomment this once svgs are working
				// background-image: url('../../images/logo-digital.svg');
			}
		}
		.subsite-logo {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			display: table;
			margin-top: 4px;
			margin-bottom: 9px;
		}
		.h1 {
			font-size: calc(1rem + 1vw);
			line-height: calc(1.5rem + 1vw);
			margin-top: 12px;
		}
		.search-col, .burger-col {
			align-self: flex-end;
		}
		.search-button {
			color: white;
		}
		.btn.burger,
		.search-button {
			margin-bottom: 4px;
		}
		.rdl-main-search {
			padding: 56px 0 0;
		}
		.rdl-main-search + .dropdown-edge {
			border-right-color: $sky-blue-50;
		}
		.header-edge {
			border-left: 100vw solid $primary;
		}
		@include media-breakpoint-up(lg) {
			.header-bg-wrapper.theme-bg {
				background: linear-gradient(180deg, $sky-blue-50 36px, $primary 36px);
			}
			.subsite-logo {
				margin-bottom: 0;
			}
			.subpage-header-elements.theme-bg {
				background-color: $primary;
			}
			.rdl-main-navigation {
				margin-top: -98px;
			}
			.rdl-main-search {
				padding: 0 0 24px;
			}
			.search-col {
				margin-bottom: 13px;
			}
			.search-button {
				margin-bottom: 0;
				&:hover {
					border-bottom-color: white;
				}
			}
			.h1 {
				font-size: 2rem;
				margin-top: 0;
				line-height: 3rem;
			}
		}

		@include media-breakpoint-up(xl) {
			.subsite-logo {
				margin-top: 24px;
			}
			.h1 {
				font-size: 2.25rem;
			}
			.rdl-main-navigation {
				margin-top: -122px;
			}
			.search-col {
				margin-bottom: 12px;
			}
		}
	}
	.rdl-system-messages-wrapper {
		.container-fluid {
			border-bottom-color: $primary;
		}
	}
}