.rdl-spot-collection {
	&.theme-bg {
		margin-top: 24px;
	}
	.inline-features {
		margin-right: -24px;
		margin-left: -24px;
		@include media-breakpoint-up(lg) {
			margin-right: 0;
			margin-left: 0;
		}
	}
	.inline-features .container {
		padding: 0;
	}
	.rdl-event-months {
		margin: 24px 0 18px;
		text-transform: capitalize;
	}
	@include media-breakpoint-up(sm) {
		.rdl-event-months {
			height: 24px;
		}
		.rdl-event-dates {
			display: inline-flex;
		}
	}
	@include media-breakpoint-up(lg) {
		.rdl-event-months {
			margin-top: 0;
		}
		.rdl-spot {
			margin-bottom: 48px;
		}
		.col-lg-3 .rdl-event-dates {
			display: flex;
		}
	}
}


aside {
	.rdl-spot-collection {
		margin-bottom: 24px;
		.rdl-spot {
			margin-bottom: 24px;
		}
		.col-12:only-child, .col-12:last-child {
			.rdl-spot {
				margin-bottom: 0;
			}
		}
	}
}

.page-container .rdl-spot-collection {
	.container {
		padding-right: 24px;
		padding-left: 24px;
	}
	&.not-full-width {
		.container,
		.container {
			padding: 0;
		}
	}
}