@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(material-icon-font.woff2) format('woff2'),
}

@font-face {
  font-family: 'rdl-icons';
  font-style: normal;
  font-weight: 400;
  src: url('./../rdl-icons.ttf'),
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.category-image {
	width: 16px;
	height: 16px;
  background-image: url('@/assets/icons/blue/diverse-blue.svg');
}
.category-image.diverse {
	background-image: url('@/assets/icons/blue/diverse-blue.svg');
}
.category-image.dokumentar {
	background-image: url('@/assets/icons/blue/dokumentar-blue.svg');
}
.category-image.film-og-serier {
	background-image: url('@/assets/icons/blue/fiktion-blue.svg');
}
.category-image.kultur-og-oplysning {
	background-image: url('@/assets/icons/blue/kultur-blue.svg');
}
.category-image.livsstil {
	background-image: url('@/assets/icons/blue/livsstil-blue.svg');
}
.category-image.musik {
	background-image: url('@/assets/icons/blue/musik-blue.svg');
}
.category-image.nyheder-politik-og-samfund {
	background-image: url('@/assets/icons/blue/nyheder-blue.svg');
}
.category-image.sport {
	background-image: url('@/assets/icons/blue/sport-blue.svg');
}
.category-image.humor-quiz-og-underholdning {
	background-image: url('@/assets/icons/blue/underholdning-blue.svg');
}
.category-image.natur-og-videnskab {
	background-image: url('@/assets/icons/blue/videnskab-blue.svg');
}
.category-image.brn-og-unge {
	background-image: url('@/assets/icons/blue/born-blue.svg');
}