.form-check {
	margin-bottom: 24px;
	+ .form-check {
		margin-top: -18px;
	}
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:checked {
			& + label::before {
				content: 'check_box';
			}
		}
		&:disabled {
			& + label,
			& + label::before {
				color: $almost-black-50;
			}
		}
		// simulating input focus
		&:focus + label::before {
			outline: 1px dotted black;
			outline: -webkit-focus-ring-color auto 5px;
		}
		&[type='radio'] {
			&:checked {
				& + label::before {
					content: 'radio_button_checked';
					background-color: transparent;
				}
			}
		}
		&[type='checkbox'][required] + label::after {
			display: block;
			content: " *";
			transition: .2s opacity ease-out, .2s color ease-out;
		}
	}
	label {
		@extend %regular-sans-serif;
		display: inline-flex;
		align-items: center;
		margin-bottom: 0;
		&::before {
			@extend %material-icons;
			content: 'check_box_outline_blank';
			text-align: center;
			font-size: 1.5rem;
			width: 1.5rem;
			height: 1.5rem;
			margin-right: .75rem;
			display: inline-block;
			border-radius: 2px;
			color: $primary;
		}
		&[role='radio'] {
			&:before {
				content: 'radio_button_unchecked';
			}
		}
	}
	a {
		display: inline;
	}
	.invalid input:not(:checked) + label::before {
		color: $red-100;
	}
	&.form-check-sm, &.radiogroup-sm {
		label::before {
			font-size: 1rem;
			line-height: 1.5rem;
			margin-left: 0.25rem;
			margin-right: 0.5rem;
		}
	}
	&.form-check-lg, &.radiogroup-lg {
		label::before {
			font-size: 2rem;
			line-height: 1.5rem;
		}
	}
}
fieldset .form-check + small.form-text {
	margin-top: -18px;
}

.radiogroup-required legend::after {
	display: inline;
	content: " *";
}

.was-validated {
	.form-check {
		input:invalid + label::before {
			color: $red-100;
		}
	}
}