.divider {
	width: 100%;
	height: 24px;
	margin: 24px 0 36px;
	@include media-breakpoint-up(lg) {
		margin: 36px 0 48px;
	}
	@include media-breakpoint-up(xl) {
		margin: 36px 0 56px;
	}
	@include media-breakpoint-up(xxl) {
		margin: 48px 0 84px;
	}
	&.full-width {
		position: relative;
		overflow-x: hidden;
		left: 0;
		@include media-breakpoint-up(md) {
			height: 36px;
			width: calc(100vw - 48px);
		}
		@include media-breakpoint-up(lg) {
			height: 48px;
			width: calc(100vw - 36px);
			margin: 48px 0 56px;
			left: calc(-50vw + 50% + 18px);
		}
	}

	&.divider-down {
		transform: skewX(-2deg) skewY(2deg);
	}
	&.divider-up {
		transform: skewX(2deg) skewY(-2deg);
	}
	&.margin-bottom {
		margin-bottom: 1.5rem;
	}
	&.blue {
		background-color: $primary;
	}
}

// fix left pos on cols with extra padding (from blue background stroke on 2-col pages)
.page-container .main-col .divider.full-width {
	@include media-breakpoint-up(lg) {
		left: calc(-50vw + 50% + 12px);
	}

}

aside .divider {
	width: 100%;
	height: 16px;
	left: 0;
	margin: 24px 0 28px;
	&:only-child {
		margin-top: 0; // drupal extra div fix
	}
}