// Forms styling - customised from mdbootstrap (for ref. see: node_modules)
// Input +  label wrapper styles
//pseudo DOM
input[type="search" i]::-webkit-search-cancel-button {
	position:relative;
	right: 0px;
	top: 4px;
	-webkit-appearance: none !important;
	height: 20px;
	width: 20px;
	background-image: url('../../assets/images/icon-clear.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

label {
	display: inline-flex;
	align-items: center;
}

input, .form-input {
	font-family: noway, sans-serif;
}


.form-input, .date-picker {
	position: relative;
	margin-bottom: 24px;

	// Text inputs
	input.form-control,
	textarea.form-control {

		// General Styles
		font-family: 'noway', sans-serif;
		box-sizing: border-box;
		background-color: white;
		transition: all .3s;
		margin: 0 0 8px 0;
		width: 100%;

		&[required] + label::after {
			display: block;
			content: " *";
			transition: .2s opacity ease-out, .2s color ease-out;
		}
		&:disabled,
		&[readonly] {
			background-color: $almost-black-05;
			opacity: 1;
		}
	}

	&-custom-size {
		width: auto;
		input.form-control,
		textarea.form-control {
			width: auto;
		}
	}

	> input[type="time"]:not(.browser-default) + label {
		left: 8px;
		padding-right: 5px;
		padding-left: 5px;
		font-size: 1rem;
		font-weight: 500;
		background: #fff;
		transform: translateY(-9px) scale(.8);
		transform-origin: 0 0;
	}

	> input[type="time"]:not(.browser-default) + label.active {
		transform: translateY(-9px) scale(.8);
		transform-origin: 0 0;
	}

	> input[type="date"]:not(.browser-default) + label {
		transform: translateY(-27px) scale(.8);
		transform-origin: 0 0;
	}

	input[type='search'] {
		padding-right: 56px;
		outline-offset: 0;
		+ button.icon-button {
			position: absolute;
			top: 50%;
			right: 4px;
			transform: translateY(-50%);
			&::before {
				position: absolute;
				right: 16px;
				top: 50%;
				height: auto;
				line-height: unset;
				transform: translateY(-50%);
				width: 26px;
			}
		}
	}

	@-webkit-keyframes autofill {
		to {
			color: $almost-black-50;
			background: transparent;
		}
	}

	@keyframes autofill {
		to {
			color: $almost-black-50;
			background: transparent;
		}
	}

	input:-webkit-autofill {
		-webkit-animation-name: autofill;
		animation-name: autofill;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	label, .custom-label {
		position: absolute;
		top: 0;
		left: 0;
		padding-left: $input-padding-x;
		font-size: 1rem;
		color: $almost-black-50;
		cursor: text;
		transition: transform .2s ease-out, color .2s ease-out;
		transform: translateY(12px);
		transform-origin: 0% 100%;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		.tooltip-icon {
			margin-left: 4px;
			font-size: 1rem;
		}
	}
	input:-webkit-autofill + label {
		left: 8px;
		padding-right: 5px;
		padding-left: 5px;
		font-weight: 500;
		background: #fff;
		transform: translateY(-16px) scale(.75);
		color: $primary;
	}
	input:autofill + label {
		left: 8px;
		padding-right: 5px;
		padding-left: 5px;
		font-weight: 500;
		background: #fff;
		transform: translateY(-16px) scale(.75);
		color: $primary;
	}
	&.active label,
	&.active .custom-label,
	label.active,
	label.disabled,
	label.readonly {
		left: 8px;
		padding-right: 5px;
		padding-left: 5px;
		font-weight: 500;
		background: #fff;
		transform: translateY(-16px) scale(.75);
		color: $primary;
		.tooltip-icon {
			color: $primary;
		}
	}

	// Textarea
	textarea.form-control {
		height: auto;
		&:focus {
			outline: auto 5px -webkit-focus-ring-color;
		}
	}
}


.was-validated {
	input.form-control,
	textarea.form-control {
		&:valid,
		&.is-valid {
			border-color: $primary;
			+ label {
				color: $primary;
			}
			&:focus {
				box-shadow: none;
				border-color: $primary;
			}
		}

		&:invalid,
		&.is-invalid {
			border-color: theme-color("danger");
			+ label {
				color: theme-color("danger");
			}
			&:focus {
				box-shadow: none;
				+ label {
					color: theme-color("danger");
				}
			}
		}
	}
	.custom-file-input {
		&:valid ~ .custom-file-label,
		&.is-valid ~ .custom-file-label {
			border-color: $primary !important;
		}
		&:valid:focus ~ .custom-file-label,
		&.is-valid:focus ~ .custom-file-label {
			box-shadow: none;
		}
	}
	.invalid-feedback {
		color: theme-color("danger");
	}
}


.custom-file {
	margin: 0 0 24px 0;

	.custom-file-input {
		&:focus ~ .custom-file-label {
			outline: auto 5px -webkit-focus-ring-color;
		}
		&:-moz-focusring ~ .custom-file-label {
			color: initial;
			text-shadow: none;
			outline: 1px dotted;
		}
		&[required] + {
			.custom-file-label {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
			}
			.custom-file-label::before {
				content: '*';
			}
		}
	}
	&-custom-size {
		width: auto;
		.custom-file-input {
			width: auto;
		}
	}
	.custom-file-input:hover + .custom-file-label::after {
		background-color: darken($primary, 10%);
	}
	&.custom-file-lg {
		.custom-file-input, .custom-file-label {
			height: 3.75rem;
		}
		.custom-file-label::after {
			line-height: 2.75rem;
		}
	}
	&.custom-file-sm {
		.custom-file-input, .custom-file-label {
			height: 2.25rem;
		}
		.custom-file-label::after {
			line-height: 1.25rem;
		}
	}
}


// reset to useragent focus styles
.form-input input.form-control {
	//webkit engines
	&:focus {
		outline: auto 5px -webkit-focus-ring-color;
		outline-style: auto;
		border-radius: revert;
	}

	// FF
	&:-moz-focusring {
		outline-style: auto;
		border-radius: revert;
	}
}


// inline forms - ie. mailchimp signup
.form-inline {
	.form-input input.form-control {
		margin: 0;
	}

	.btn {
		margin-bottom: 24px;
	}
}


// description text
small.form-text.text-muted {
	margin-top: 0;
	margin-bottom: 8px;
}
label + small.form-text.text-muted,
input + small.form-text.text-muted {
	margin-top: 4px;
	margin-bottom: 0;
}




// small inputs
.form-input, .date-picker {
	.form-control-sm + label {
		transform: translateY(6px);
	}
	&.active {
		.form-control-sm + label {
			transform: translateY(-15px) scale(0.75);
		}
	}
}
.form-input.form-input-sm,
.date-picker.form-input-sm {
	label {
		transform: translateY(6px);
	}
	&.active {
		label {
			transform: translateY(-15px) scale(0.75);
		}
	}
}




// large inputs
.form-input, .date-picker {
	.form-control-lg + label {
		transform: translateY(18px);
	}
	&.active {
		.form-control-lg + label {
			transform: translateY(-15px) scale(0.75);
		}
	}
}
.form-input.form-input-lg,
.date-picker.form-input-lg {
	label {
		transform: translateY(18px);
	}
	&.active {
		label {
			transform: translateY(-15px) scale(0.75);
		}
	}
}