footer.global-footer {
	background: $primary;
	color: #fff;
	padding: 36px 0 40px;
	.container {
		padding-right: 24px;
		padding-left: 24px;
	}
	@extend %regular-sans-serif;

	h3 {
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	.col-sm-6 {
		padding-bottom: 48px;
	}
	ul {
		list-style-type: none;
		padding-inline-start: 0;
	}
	li, p {
		margin-bottom: 12px;
	}
	a {
		color: white;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	.logo {
		height: 48px;
		margin-bottom: 32px;
	}
	.some-icons {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 16px;

		a {
			background-color: white;
			border-radius: 50%;
			width: 24px;
			height: 24px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-right: 12px;
			&:last-child {
				margin-right: 0;
			}
			i {
				font-size: rem-calc(14);
				color: $primary;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
	@include media-breakpoint-up(sm) {
		.some-icons {
			left: 0;
		}
	}
	@include media-breakpoint-up(md) {
		.col-sm-6 {
			padding-bottom: 12px;
		}
		.some-icons {
			position: inherit;
			left: inherit;
			transform: none;
		}
	}
	@include media-breakpoint-up(lg) {
		.container {
			padding-right: 12px;
			padding-left: 12px;
		}
	}
}