#a11yNav {
	position: absolute;
	z-index: 150;
	ul {
		margin: 0;
		li {
			list-style-type: none;
		}
	}
	a {
		display: inline-block;
	}
}
.global-header {
	display: flex;
	flex-direction: column;
	z-index: 100;
	position: relative;
	.logo-col {
		padding-left: 24px;
	}
	.burger-col {
		padding-right: 24px;
	}
	.header-bg-wrapper {
		padding-top: 24px;
	}

	// skewed border on search dropdown and between primary and secondary nav i mobilemenu
	.dropdown-edge {
		border-bottom: 24px solid transparent;
		z-index: 85;
		margin-bottom: -24px;
	}
	// skewed border on main header
	.header-edge {
		border-bottom: 24px solid transparent;
		z-index: 75;
		margin-bottom: -24px;
	}
	.rdl-main-search + .dropdown-edge {
		display: none;
		margin-left: -12px;
		margin-bottom: -29px;
	}
	.rdl-main-search.show + .dropdown-edge {
		display: inline-block;
	}

	.subpage-header-elements {
		order: 3;
		background: transparent;
	}
	.search-button {
		display: grid;
		align-items: center;
		font-size: 0.75rem;
		color: $primary;
		padding: 0;
		text-transform: uppercase;
		font-family: 'noway', sans-serif;
		.material-icons {
			font-size: rem-calc(34);
			margin-top: -2px;
			margin-bottom: -1px;
		}
		&[aria-expanded=true] {
			font-family: 'nowayregular-italic', sans-serif;
		}
		.close-search {
			display: none;
		}
		&[aria-expanded=true] {
			.close-search {
				display: inline-block;
			}
			.open-search {
				display: none;
			}
		}
	}
	.rdl-main-search {
		padding: 36px 0 0;
	}
	.rdl-main-navigation-wrapper {
		margin-right: -12px;
		margin-left: -12px;
	}

	@include media-breakpoint-up(lg) {
		position: initial;
		.logo-col {
			padding-left: 12px;
		}
		.burger-col {
			padding-right: 12px;
		}
		.header-edge {
			order: 3;
		}
		.rdl-main-search {
			order: 2;
			padding: 0 0 18px;
		}
		.search-col {
			align-self: flex-end;
			margin-bottom: -1px;
		}
		.search-button {
			display: flex;
			font-family: 'nowaymedium', sans-serif;
			flex-direction: row-reverse;
			align-items: baseline;
			font-size: 1rem;
			height: 28px;
			border: none;
			background: transparent;
			border-bottom: 2px solid transparent;
			&:hover {
				border-bottom: 2px solid $primary;
				transition: border-bottom-color 0.3s ease-in-out;
			}
			.material-icons {
				font-size: 1rem;
				padding-left: 4px;
				align-self: center;
			}
			&[aria-expanded=true] {
				font-family: 'nowaymedium', sans-serif;
			}
		}
		.container,
		.rdl-main-navigation-wrapper {
			display: flex !important;
			flex-direction: column;
		}
		.rdl-main-navigation-wrapper {
			margin-right: 0;
			margin-left: 0;
		}
		.rdl-main-navigation {
			margin-top: -84px;
			margin-left: auto;
			padding-bottom: 12px;
			z-index: 95;
		}
	}
	@include media-breakpoint-up(xl) {
		.rdl-main-navigation {
			margin-top: -104px;
		}
		.search-button {
			font-size: 1.25rem;
			height: 31px;
			.material-icons {
				font-size: 1.25rem;
			}
		}
	}
	@include media-breakpoint-up(xxl) {
		.container {
			padding-right: 0;
			padding-left: 0;
		}
	}
}



// white columns background for content in header (content is pulled up)
@include media-breakpoint-up(lg) {
	header {
		.row.col-overlay {
			padding-top: 12px;
			order: 6;
			z-index: 85;
			position: relative;

			.white-bg {
				background: white;
				margin-bottom: -24px;
				height: 84px;
			}
		}
	}
}


.rdl-system-messages-wrapper {
	order: 3;
	flex-direction: column;
	.container-fluid:nth-last-child(2) {
		border-bottom: 12px solid $sky-blue-50;
	}
}

.breadcrumb-row {
	order: 2;
	background-color: white;
	@include media-breakpoint-up(lg) {
		background-color: transparent;
	}
}