:root{
    /*background-colors*/
    --bg-main:#002e70;
    --bg-cta:#49da87;
    --bg-light:#caf0fe;
    --bg-remove:#f7ae3b;
    --bg-main-hover:#c4f1ed;
    --bg-disabled:#d5d5d5;

    /*colors*/
    --color-main:#002e70;
    --color-default:#ffff;

    /*rounded*/
    --rounded-small: var(--scale-50);
    --rounded-medium: var(--scale-100);
    --rounded-large: var(--scale-800);
    
    /*padding*/
    --padding-small: var(--scale-50);
    --padding-02: var(--scale-100);
    --padding-01: var(--scale-200);
    --padding-medium: var(--scale-300);
    --padding-1: var(--scale-400);
    --padding-2: var(--scale-450);
    --padding-large: var(--scale-650);

    /*size scales*/
    --scale-0: 0px;
    --scale-25: 1px;
    --scale-50: 2px;
    --scale-100: 4px;
    --scale-200: 8px;
    --scale-250: 10px;
    --scale-300: 12px;
    --scale-350: 14px;
    --scale-400: 16px;
    --scale-450: 18px;
    --scale-500: 20px;
    --scale-550: 22px;
    --scale-600: 24px;
    --scale-650: 26px;
    --scale-700: 28px;
    --scale-800: 32px;
    --scale-850: 34px;
    --scale-900: 36px;
    --scale-1050: 42px;
    --scale-1250: 50px;

}