:root{
    /*background-colors*/
    --bg-main:#ea9fbc;
    --bg-main-2: #F0BCD0;
    --bg-main-3: #FBECF2;
    --bg-cta:#ea9fbc;
    --bg-light:#17294F;
    --bg-remove:#f7ae3b;
    --bg-main-hover:#c4f1ed;
    --bg-disabled:#757575;
    --bg-default: #001C43;
    --bg-transparent: transparent;
    --bg-golden:#e0b500;
    --bg-default-gray: #ccc;
    --bg-main-light: #f0bcd0;
    --bg-main-light-20: #fbecf2;
    --bg-secondary-light: #324666;
    --bg-secondary-light-20: #F0FBFF;
    --bg-header: #002e70;
    --bg-footer: #013277;
    --bg-backdrop: #ffff;
    /*colors*/
    --color-main:#ea9fbc;
    --color-default:#001C43;
    --color-secondary-light:#324666;
    --color-disabled:#969696;
    --color-disabled-sort:#d5d5d5;
    --color-disabled-font: #757575;
    --color-alert-red: rgb(184, 0, 0);

    /*borders*/
    --color-border-active: #001C43;
    --color-border-light:#FBECF2;
    --color-border-golden:#e0b500;
    --color-border-success:#ea9fbc;
    --color-border-disabled:#757575;
    --color-border-transparent: transparent;
    --color-border-light-focused: #96E2FD;
    --color-borders-light: #96E2FD;

    /*rounded*/
    --rounded-small: var(--scale-50);
    --rounded-medium: var(--scale-100);
    --rounded-large: var(--scale-800);
    
    /*padding*/
    --padding-small: var(--scale-50);
    --padding-03: var(--scale-100);
    --padding-02: var(--scale-150);
    --padding-01: var(--scale-200);
    --padding-00: var(--scale-250);
    --padding-medium: var(--scale-300);
    --padding-0: var(--scale-350);
    --padding-1: var(--scale-400);
    --padding-2: var(--scale-450);
    --padding-4: var(--scale-550);
    --padding-large: var(--scale-650);

    /*size scales*/
    --scale-0: 0px;
    --scale-25: 1px;
    --scale-50: 2px;
    --scale-100: 4px;
    --scale-150: 6px;
    --scale-200: 8px;
    --scale-250: 10px;
    --scale-300: 12px;
    --scale-350: 14px;
    --scale-400: 16px;
    --scale-450: 18px;
    --scale-500: 20px;
    --scale-550: 22px;
    --scale-600: 24px;
    --scale-650: 26px;
    --scale-700: 28px;
    --scale-800: 32px;
    --scale-850: 34px;
    --scale-900: 36px;
    --scale-1050: 42px;
    --scale-1250: 50px;

}