.vue-slider-rail {
	background-color: var(--bg-transparent) !important;
	border-radius: 0px !important;
	height: 100% !important;

	
}

.vue-slider-rail::before {
	display: block;
	height: 5px;
	content: '';
	z-index: 6 !important;
	border-top: 1px solid var(--bg-default);
	border-bottom: 1px solid var(--bg-default);
	border-left: 1px solid var(--bg-main-2);
	border-right: 1px solid var(--bg-main-2);
	background-color: var(--bg-main-2) !important;
	border-radius: 0px;
	top:calc(100%) !important;
	position: relative;
}

.testClass {
	mix-blend-mode: lighten;	
}

.slider-whiteoff-container .vue-slider-rail::before {
	border-top: 1px solid var(--bg-default);
	border-bottom: 1px solid var(--bg-default);
	border-left: 1px solid var(--bg-main-2);
	border-right: 1px solid var(--bg-main-2);
	background-color: var(--bg-main-2) !important;
}
.vue-slider {
	height: 100px !important;
	padding: 0px !important;
	align-content: center;
}
.time-search-filter-container .vue-slider {
	height: 50px !important;
}
.vue-slider-process {
	border-radius: 0px !important;
	background-color: transparent !important;
	z-index: 6 !important;
	border-radius: 0 !important;
}

.vue-slider-process::before {
	display: block;
	height: 5px;
	position: absolute;
	background-color: var(--bg-main) !important;
	content: '';
	border:1px solid var(--color-border-active);
	top: calc(100%);
	z-index: 7 !important;
	width: 100%;
}
.slider-whiteoff-container .vue-slider-process::before {
	
}
.vue-slider-mark-step {
	background-color: var(--bg-transparent) !important;
	border-radius: 0px !important;
	height: 100% !important;
	top: -10px !important;
}

.vue-slider-dot {
	width: 44px !important;
	height: 44px !important;
	background-color: var(--bg-default) !important;
	display: flex;
	box-sizing: border-box;
	border-radius: 50%;
	z-index: 9 !important;
	border: 4px solid var(--color-border-active);
	justify-content: center;
	align-items: center;
	box-shadow: none;
	top: 100% !important;

}

.vue-slider-dot-handle {
	height: 32px !important;
	width: 32px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-main) !important;
	position: relative;
	box-sizing: border-box ;
	box-shadow: none !important;
	border-color: transparent;
	border: 1px solid transparent;
	transition: all 0.2s linear;
}
.vue-slider-dot-handle:hover,.vue-slider-dot-handle:active{
	height: 36px !important;
	width: 36px !important;
	background-color: var(--bg-main-hover) !important;
}
.vue-slider-dot-handle:before {
	content: '';
  display: block;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border-left: 2px solid var(--color-default);
  border-top: 2px solid var(--color-default);
  transform: rotateZ(-45deg);
  position: relative;
	transition: all 0.1s linear 0s;
	opacity:1;
}

.vue-slider-dot-handle:after {
	content: '';
  display: block;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border-left: 2px solid var(--color-default);
  border-top: 2px solid var(--color-default);
  transform: rotateZ(135deg);
  position: relative;
	transition: all 0.1s linear 0s;
	opacity:1;
}


.vue-slider-dot-handle:hover:before {
	left: -2px;
	border-color: var(--color-main);
}
.vue-slider-dot-handle:hover:after {
	left: 2px;border-color: var(--color-main);
}
.vue-slider-dot-handle:active:before{
	left:-5px;
	border-color: var(--color-main);
}
.vue-slider-dot-handle:active:after{
	left:5px;
	border-color: var(--color-main);
}
.vue-slider-mark {
	width: 2px !important;
	height: 15% !important;
	background-color: transparent !important;
	margin-bottom: 10px !important;
}

.vue-slider-mark-label {
	display:none;
	/* font-size: var(--fs-meta) !important; */
	background: var(--bg-default) 0% 0% no-repeat padding-box !important;
	color: white !important;
	border-radius: 5px;
	top: calc(-100% - 1em) !important;
	font-size: var(--fs-lead) !important;
    line-height: var(--lh-large-tight);
    font-weight: var(--fw-regular);
	padding: 2px 5px;
	min-width: 20px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid transparent;
	opacity:0.7;
}
.slider-whiteoff-container .vue-slider-mark-label {
		top: calc(100% - 3.8em) !important;
}
.vue-slider-dot-tooltip-inner {
	background-color: var(--bg-default) !important;
	color: var(--bg-default) !important;
}

.vue-slider-dot-tooltip-inner-bottom:after,
.vue-slider-dot-tooltip-inner-top:after {
	border-top-color: #fff6c4 !important;
	color: black !important;
}
.vue-slider-marks {
	z-index: 8;
}
.vue-slider-marks .vue-slider-mark:first-of-type .vue-slider-mark-label {
	left: 15px !important;
}

.vue-slider-marks .vue-slider-mark:last-of-type .vue-slider-mark-label {
	left: -10px !important;
}

.vue-slider-marks .vue-slider-mark .vue-slider-mark-label {
	display: none;
}
.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(10n) .vue-slider-mark-label {
		display: block;
}
.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(10n) .vue-slider-mark-step:after{
		top:calc(100% - 3px) !important;
		height: 7px;
}
.time-search-filter-container .vue-slider-marks .vue-slider-mark:nth-child(15n) .vue-slider-mark-label{
	display:block
}
.time-search-filter-container .vue-slider-marks .vue-slider-mark:nth-child(15n) .vue-slider-mark-step:after{
	top:calc(100% - 3px) !important;
	height: 7px;

}
.vue-slider-marks .vue-slider-mark-active .vue-slider-mark-label-active {
	opacity: 100%;
	background-color: var(--bg-default)!important;
	border: 1px solid var(--color-border-active);
	color: var(--color-main) !important;
}
.vue-slider-marks .vue-slider-mark:nth-child(1n) {
	height: 50% !important;
	top: 75% !important;
}

.vue-slider-marks .vue-slider-mark:nth-child(1n) .vue-slider-mark-step:after {
	content: '';
	display: block;
	width: 2px;
	background-color: var(--bg-disabled);
	height: 4px;
	position: absolute;
	top: calc(99%) !important;
}
.vue-slider-marks .vue-slider-mark-active:nth-child(1n) .vue-slider-mark-step:after{
	background-color: var(--bg-main);
}
.vue-slider-dot-tooltip-inner {
	background: var(--bg-default) 0% 0% no-repeat padding-box !important;
	border:1px solid var(--color-main) !important;
	font-size: var(--fs-lead) !important;
	color: white !important;
}
.vue-slider-dot-tooltip-top {
	top: -2px !important;
}

.vue-slider-dot-tooltip-text{
	font-size: var(--fs-lead);
    line-height: var(--lh-large-tight);
    font-weight: var(--fw-regular);
}
.vue-slider-dot-tooltip-inner-top::after {
	border: none !important;
}
.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(20n) .vue-slider-mark-label {
		display: none !important;
	}

@media (min-width: 640px) {
	.vue-slider-marks .vue-slider-mark:nth-child(1n) .vue-slider-mark-step:after{
		top: calc(98%) !important;
	}
	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(10n) .vue-slider-mark-step:after{
		top:calc(98%) !important;
		height: 5px;
	}
	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(7n) .vue-slider-mark-step:after{
		top:calc(100% - 3px) !important;
		height: 7px;
	}
	.slider-whiteoff-container .vue-slider {
		height: 200px !important;
		align-content: end;
	}
	.slider-whiteoff-container .vue-slider-mark-step {
	display:none !important;
	}
	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(20n) .vue-slider-mark-label {
		display: block !important;
	}
}
@media (min-width: 850px) {

	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(7n) .vue-slider-mark-step:after{
		top:calc(98%) !important;
		height: 5px;
	}

	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(5n) .vue-slider-mark-step:after{
		top:calc(100% - 3px) !important;
		height: 7px;
	}
	.slider-whiteoff-container .vue-slider-mark-label {
		top: calc(100% - 3.8em) !important;
	}
}
@media(min-width:990px){

	.slider-whiteoff-container .vue-slider-mark-label {
		top: calc(100% - 3.5em) !important;
	}
	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(7n) .vue-slider-mark-step:after{
		top:calc(98%) !important;
		height: 5px;
	}
	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark:nth-child(5n) .vue-slider-mark-step:after{
		top:calc(100% - 5px) !important;
		height: 7px;
	}
	.slider-whiteoff-container .vue-slider-marks .vue-slider-mark-active:nth-child(1n) .vue-slider-mark-step:after{
		background-color: var(--bg-default);
}
}